<nav class="navbar navbar-dark main-nav p-md-2">
  <button mat-button routerLink="/">
    <img src="/assets/time-entry-logo.png" style="size: 20%"></button>
  <div class="nav justify-content-end" style="display:table-cell;vertical-align: middle;padding-right:1.5em;" *ngIf="loginService.isLoggedIn()">
    <span>Welcome {{loginService.getLoggedInUser().firstName}}!</span>
    <button mat-icon-button>
      <mat-icon aria-label="Logout button" (click)="logoutUser()" style="color:cadetblue">exit_to_app</mat-icon>
    </button>
  </div>
</nav>