.dialog-title {
    font-weight: bold;
  }
  .dialog-buttons-holder {
    text-align: center;
  }
  .dialog-title {
    font-weight: bold;
  }
  .dialog-buttons-holder {
    text-align: center;
  }
  