<div class="list-group">
  <a routerLink="/authenticated/calendar" class="list-group-item list-group-item-action" routerLinkActive="active">
      <i class="fa fa-cog">&nbsp;</i>Calendar
  </a>
  <a routerLink="/authenticated/profile" class="list-group-item list-group-item-action" routerLinkActive="active">
      <i class="fa fa-list-alt">&nbsp;</i>Profile
  </a>
  <a routerLink="/authenticated/settings" class="list-group-item list-group-item-action"
      routerLinkActive="active">
      <i class="fa fa-list-alt">&nbsp;</i>Settings
  </a>
</div>
