@import "~font-awesome/css/font-awesome.css";

body,
html {
  height: 100%;
}

body {
  background-image: url(/assets/bg-1.jpeg);
  background-position: center;
  background-size: cover, contain;
  background-color: #f2f6f8;
  background-attachment: fixed;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

button:disabled {
  cursor: not-allowed;
}

.container,
.card,
.list-group {
  background-color: white;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 0.25em;
}

.container {
  margin-top: 1em;
}

button:focus {
  outline: none;
}

